*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;}
    
    .container {max-width: 1200px;
    margin: auto;
    padding: 20px;}
    
    body {background-color: #618f98;}
    
    header {background-color: #011a4b;
    color: #fff;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 1000%;}
    
    section {color: #fff;}

    nav ul {list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}
    
    nav ul li {margin-left: 20px;}
    
    nav ul li a {color: #fff;
    text-decoration: none;}
    
    a:hover {background-color: #ffffff;}
    
    header .container {display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;}
    
    .logo {font-size: 2em;
    font-weight: bold;}
    

.banner{
    background: url(../Downloads/banner.png) no-repeat center
}




    @media (max-width: 675px){
        header .container {flex-direction: column;
        text-align: center;}
        nav ul {margin-top: 10px;
        flex-direction: column;}
    }